html,body {
	margin: 0;
	background-image: url(../bilder/wall-1846965_1920.jpg);
	background-position: center;
	background-size: auto;
	background-attachment: fixed;
}

p,ul,a,h1,h2,h3,h4,h5,h6 {
	font-family: Trebuchet MS;
	color: black;
}

p:before {
	content: "...";
}

div#links {
	background-color: #EE9C21;
	width: 25%;
	min-height: 100%; /*Wieso funktioniert 100% nicht?*/
	float: left;
}

div#rechts {
	/*background-color: #1F1CF1; */
	width: 75%;
	min-height: 100%;
	float: right;
}

div#flaeche {
	position: fixed;
	height: 100%;
	width: 30%;
	transform: rotate(-15deg);
	/*margin-top:10%;
	margin-left:20%;*/
	overflow: hidden;
}

div#flaeche:after {
	content: ""; 
	background: url(../bilder/tiles-shapes-2617112_1920.jpg) 0 0 repeat;
	background-size: cover;
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	z-index: -1;
	transform: rotate(15deg);
}
#element3
{
  width: 12em;
  font-size: 2em;
  text-align: center;
  line-height: 5em;
  margin: 5em auto;
  border: 2px solid #666;
  border-radius: 7px; 
  transform: rotate(-20deg);
  position: relative;
  overflow: hidden;
}

#element3:before
{
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url(DSC_2951.jpg) 0 0 repeat;
  transform: rotate(20deg);
  background-size: cover;
}

div#menu {
	position: fixed;
	background: url(../bilder/wall-1846969_1920.jpg) 0 0 repeat;
	background-size: cover;
	height: 65%;
	width: 30%;
	transform: rotate(-50deg);
}

div#hauptteil {
	background: rgba(255,255,255,0.6);
	position: sticky;
	min-height: 100%;
	margin: 10%;
	padding: 50px;
	padding-top: 100px;
}