/*Auf selfhtml.org und w3schools.com fand ich Erklärungen zu den noch nicht behandelten CSS-Regeln, wie z.B animation oder clip-path */

html,body {
	margin: 0;
	background-image: url(../bilder/hg01.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	font-family: Trebuchet MS;
	color: #163737;
}

ul {
	list-style-type: none;
	margin-top: 30px;
	max-width: 30%;
}

hr {
	border: 5px solid #183d3d;
	width: 80%;
}

.footer {text-align: center;}

.list {list-style-type: initial;}

h1{clear:both;}

a {
	color: #163737;
	list-style-type: none;
}

	a.feld {
		text-decoration: none;
		text-align: center;
		padding: 10px;
		margin: 5px;
		display: block;
		background: rgba(240,255,255,0.4);
	}

	a.feld:hover {background: rgba(240,255,255,0.8);}



img {
  height: 200px;
} 

	.circle-left {
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		clip-path: circle(35% at 35% 35%);
		shape-outside: circle(40% at 35% 35%);
	}

	.circle-middle {
		clip-path: circle(35% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
	}

	img:hover {                                            
	  clip-path: none;
	  shape-outside: none;
	}



.menu, .bg01, .bg02 {
	position: fixed;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	animation-duration:1s;
}


.menu {
	background-image: linear-gradient(45deg, #0A1A1A, #5ADCDC);
	height: 125%; 
	width: 50%;
	clip-path: polygon(0 0, 100% 0%, 0 100%);
}

	.startM {
		transform: rotate(100deg);
		transform-origin:bottom left;
		animation-name: anMe;
	}

	@keyframes anMe {
		from {transform: rotate(100deg)}
		to {transform: rotate(0deg)}
	} 

.bg01 {
	background-image: linear-gradient(162deg, #0A1A1A, #5ADCDC);
	height:125%;
	width:75%;
	margin-left: 25%;
	clip-path: polygon(20% 0, 100% 0, 100% 100%);
	z-index:-1;
}

	.start01 {
		transform: rotate(-100deg);
		transform-origin:bottom right;
		animation-name: an01;
	}

	@keyframes an01 {
		from {transform: rotate(-100deg)}
		to {transform: rotate(0deg)}
	} 

.bg02 {
	background-image: linear-gradient(-91deg, #0A1A1A, #5ADCDC);
	height:100%;
	width:100%;
	clip-path: polygon(0 100%, 100% 50%, 100% 100%);
	z-index:-2;
}

	.start02 {
		transform: rotate(100deg);
		transform-origin:bottom right;
		animation-name: an02;
	}

	@keyframes an02 {
		from {transform: rotate(100deg)}
		to {transform: rotate(0deg)}
	} 

.hauptteil {
	background: rgba(240,255,255,0.8);
	position: absolute;
	min-height: 70%;
	margin-top: 30px;
	margin-left: 30%;
	margin-right: 15%;
	padding: 50px;
	z-index: 1;
}

	.startHt {
		animation-delay: 1s;
		animation-fill-mode: forwards;
		animation-duration: 3s;
		animation-name: anHt;
		opacity: 0%;
	}

	@keyframes anHt {
		from {opacity: 0%}
		to {opacity: 100%}
	} 

