<head>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="../public/app.css">
    
    <title>Isabel von Ah</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/favicon.png">
    
    <meta charset="UTF-8">
    <meta name="author" content="Isabel von Ah">
    <meta name="description" content="Isabel von Ah's Website">
    <meta name="keywords" content="Homepage, HTML, CSS, Isabel von Ah, FHGR, Chur, WINF">
    <meta name="date" content="30.12.2020">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>

    <div class="menu">
    
        <ul>
                
                
                <br><br>
                
                <li> 
                
                
                
            </li>
            
        </ul>
    
    </div>
    
    <div class="bg01"> </div>
    <div class="bg02"> </div>

    <div class="hauptteil">
    
        
        <form method="POST" action='/register'>
			<input type="text" class="form" name="name" placeholder="name"> <br>
            <input type="text" class="form" name="email" placeholder="Email"> <br> 
            <button>Join Now</button>
        </form>

    </div>

</body>